<div>
  <form>
    <div class="form-group">
      <label for="author">Author</label>
      {{input id="author" value=author class="form-control"}}
    </div>
    <div class="form-group">
      <label for="text">Put your tweet here</label>
      {{textarea maxlength="141" rows="3" cols="60" id="text" value=text  class="form-control"}}
    </div>
    <button class="btn btn-default"{{action "addTweet"}}>Add tweet</button>
  </form>
</div>

<br />
<ul class="list-group">
  {{#each controller}}
    {{shown}}
    <a {{action "toggleShown"}}><li class="list-group-item">{{author}}: {{text}}</li></a>
    {{#if shown}}
      {{timeStamp}}
    {{/if}}

  {{/each}}
</ul>
