<div>
  <form>
    <label>Put your tweet here</label><br />
    {{textarea maxlength="141" rows="3" cols="60" id="text" value=text}}<br />
    <label>Author</label>
    {{input id="author" value=author}}

    <button class="btn"{{action "addTweet"}}>Add tweet</button>
  </form>
</div>


<ul>
  {{#each}}
    <li>Date: {{timeStamp}}, Tweet: {{text}}</li>
  {{/each}}
</ul>
